TrackingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.paxTracks.com/pws/webServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.paxTracks.com/pws/webServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides tracking and tracing service, rev 3.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.paxTracks.com/pws/webServices">
      <s:element name="getOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOrderStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getOrderStatus" />
  </wsdl:message>
  <wsdl:message name="getOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getOrderStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="TrackingQueryServerSoap">
    <wsdl:operation name="getOrderStatus">
      <wsdl:input message="tns:getOrderStatusSoapIn" />
      <wsdl:output message="tns:getOrderStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrackingQueryServerSoap" type="tns:TrackingQueryServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderStatus">
      <soap:operation soapAction="http://www.paxTracks.com/pws/webServices/getOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrackingQueryServerSoap12" type="tns:TrackingQueryServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderStatus">
      <soap12:operation soapAction="http://www.paxTracks.com/pws/webServices/getOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingQueryServer">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides tracking and tracing service, rev 3.</wsdl:documentation>
    <wsdl:port name="TrackingQueryServerSoap" binding="tns:TrackingQueryServerSoap">
      <soap:address location="http://www.paxtracks.com/pws/TrackingService.asmx" />
    </wsdl:port>
    <wsdl:port name="TrackingQueryServerSoap12" binding="tns:TrackingQueryServerSoap12">
      <soap12:address location="http://www.paxtracks.com/pws/TrackingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>